body{
  width: 80%;
  max-width:500px;margin:auto;
  font-family: 'Roboto', sans-serif;
  color: #34495e;
  font-size: 16px;
  margin-top: 30px;
  background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {color: #0074D9;}
a:active, a:hover {color: #B10DC9;}
/*a:visited {color: #85144B;}*/

input {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.alexa {
  max-height: 40px;
  vertical-align: middle;
}

input[type="submit"] {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.small{
  width: 200px;
}
.big{
  width: 550px;
}

.required:after{
  font-weight: bold;
  color: #e32;
  content: ' *';
  display:inline;
}

.invocation {
  border: none;
  /*background-color: #34495e;
  color: white;*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  max-width: 230px;
}

.button {
  background-color: #34495e; /* blueish */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: auto;
  cursor: pointer;
}

#submit {
  width: 56px !important;
}

.reset-button{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#issues::before { 
  content: "Issues: ";
  /*color: #34495e;*/
}

.submitLoading{
  background: url("/static/img/loader.svg");
  background-repeat: no-repeat;
  background-position: center; 
  background-color: #bdc3c7 !important;
}

.disabled{
  background-color: #bdc3c7 !important;
}

.enabled{
  background-color: #34495e !important;
}

a.button:active, a.button:hover {color: #fff;}

.purple{color: #8e44ad;}
.cyan{ color: #3498db;}
.red{color: #e74c3c;}
.green{color: #16a085;}

/* accordion */
.accordion-toggle {cursor: pointer;}
.accordion-toggle::after {content: " ⤸";}
.accordion-content {display: none;}
.accordion-content.default {display: block;}
.accordion-arrow {content: "▼ " !important;}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #logo{
    border:0;
    max-width: 150px;
    vertical-align: middle;
  }
  #logo-holder{
    font-size: 10px;
  }

}